        <footer class="footer">
            <div class="footer-redes">
                <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <p class="footer-copy">
                &copy; MiEcommerce. Todos los derechos reservados.
            </p>
            <div class="footer-apps">
                <img src="img/app.webp" alt="Descargar en App Store">
                <img src="img/playstore.png" alt="Descargar en Google Play">
            </div>
        </footer>
    </body> 
</html>