<<<<<<< HEAD
<footer class="footer">
    <div class="footer-redes">
        <a href="https://www.facebook.com/" target="blank" class="social-link">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/" target="blank" class="social-link">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://twitter.com/" target="blank" class="social-link">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
    </div>

    <p class="footer-copy">
        &copy; 2026 MiEcommerce. Todos los derechos reservados.
    </p>

    <div class="footer-apps">
        <a href="https://www.apple.com/app-store/" target="_blank" rel="noopener noreferrer">
            <img src="/img/app.webp" alt="Descargar en App Store" class="imgpie">
        </a>
        <a href="https://play.google.com/store/apps" target="_blank" rel="noopener noreferrer">
            <img src="/img/playstore.png" alt="Descargar en Google Play" class="imgpie">
        </a>
    </div>
</footer>
=======
        <footer class="footer">
            <div class="footer-redes">
                <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <p class="footer-copy">
                &copy; MiEcommerce. Todos los derechos reservados.
            </p>
            <div class="footer-apps">
                <img src="img/app.webp" alt="Descargar en App Store">
                <img src="img/playstore.png" alt="Descargar en Google Play">
            </div>
        </footer>
    </body> 
</html>
>>>>>>> ramita
