<<<<<<< HEAD
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">
<%# Font Awesome para íconos de redes sociales %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<header class="main-header">
  <div class="header-container">

    <div class="left">
      <a href="/" class="logo">
        <img src="/img/logo_blanco.png" alt="Logo">
      </a>

      <nav class="nav">
        <a href="/products">Productos</a>
      </nav>
    </div>

    <div class="auth">
      <a href="/login">Login</a>
      <span>/</span>
      <a href="/register">Register</a>
    </div>

  </div>
</header>
=======
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MiEcommerce</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="css/carrito.css">
        <link rel="stylesheet" href="css/checkout.css">
        <link rel="stylesheet" href="css/footer.css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    </head>
    <body> 
        <header>
            <nav>
                <p><b>Mi</b>Ecommerce</p>
            </nav>
        </header>
>>>>>>> ramita
