<header>
    <nav class="caja navegacion"> 
        <h1>
            <img src="/img/logo.png" alt="MiEcommerce" width="150">
        </h1>
      <div class="enlaces">
        <a href="/carrito">Cart</a>
        <a href="/login">Login</a>
        <a href="/registro">Register</a>
      </div>
    </nav>
</header>
