<section class="caja-iconos">
    <div class="item">
        <div class="iconos">
            <i class="fa-solid fa-tv"></i>
        </div>
        <h4>Electronica</h4>
    </div>
    <div class="item">
        <div class="iconos">
            <i class="fa-solid fa-burger"></i>
        </div>
        <h4>Alimentos</h4>
    </div>
    <div class="item">
        <div class="iconos">
            <i class="fa-solid fa-bottle-water"></i>
        </div>
        <h4>Bebidas</h4>
    </div>
    <div class="item">
        <div class="iconos">
            <i class="fa-solid fa-shirt"></i>
        </div>
        <h4>Indumentaria</h4>
    </div>
    <div class="item">
        <div class="iconos">
            <i class="fa-solid fa-gamepad"></i>
        </div>
        <h4>Juegos</h4>
    </div>
    <div class="item">
        <div class="iconos">
            <i class="fa-solid fa-car-rear"></i>
        </div>
        <h4>Automotor</h4>
    </div>
    <div class="item">
        <div class="iconos">
            <i class="fa-solid fa-couch"></i>
        </div>
        <h4>Hogar</h4>
    </div>
    <div class="item">
        <div class="iconos">
            <i class="fa-solid fa-gift"></i>
        </div>
        <h4>Otros</h4>
    </div>
</section>