.footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap; 
    gap: 20px;
}


.footer-redes {
    display: flex;
    gap: 15px;
}
.social-link i {
    color: #fff;
    font-size: 1.5rem;
    transition: 0.3s;
}
.social-link:hover i {
    transform: scale(1.2);
    color: #007bff; 
}

/* Estilo para las Apps */
.footer-apps {
    display: flex;
    gap: 10px;
}
.imgpie {
    height: 40px;
    width: auto;
    transition: 0.3s;
}

.imgpie:hover {
    filter: brightness(1.2);
}

/* Responsive para celulares */
@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }
}