<%- include('../partials/header') %>

<div class="carrito-page">
    
<a href="/" class="volver">Volver a inicio</a>

<h2>Productos de tu Carrito</h2>

<div class="producto-card">
<img src="No se que ruta poner uwu.jpg" alt="Nombre del producto">
<span class="nombre-producto">Nombre del producto</span>
<button class="boton-quitar">Quitar</button>
<div class="control">
    <button>-</button>
    <span>1</span>
    <button>+</button>
</div>
<span class="pesos">20.000</span>
</div>

<div class="total">
    <span>Total a pagar</span>
</div>

<div class="pie-carrito">
    <button class="boton-pagar">Ir a Pagar</button>
</div>
</div>

<%- include('../partials/footer') %>