<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>
  <body>
    <main>
        <%# Header %> 
      <%- include('../partials/header') %>

      <%# CONTENEDOR DE ICONOS %>
      <section class="caja-iconos">
        <div class="item">
        <div class="iconos">
         <i class="fa-solid fa-tv">
          </i></div>
            <h4>Electronica</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-burger">
          </i></div>
            <h4>Alimentos</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-bottle-water">
          </i></div>
         <h4>Bebidas</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-shirt">
          </i></div>
         <h4>Indumentaria</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-gamepad">
          </i></div>
         <h4>Juegos</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-car-rear">
          </i></div>
         <h4>Automotor</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-couch">
          </i></div>
         <h4>Hogar</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-gift">
          </i></div>
         <h4>Otros</h4>
        </div>
      </section>

      <%# BANNER PUBLICITARIO %>
        <section class="banner">
          <div class="banner-card">
            <img src="/img/index/Banner disney.png" alt="Disney Plus">
          
            <div class="texto-encima">
              <h3>¡50% OFF!</h3>
              <p>Canjea a partir de 50.000 puntos <br> y gana descuentos exclusivos<br>en Disney+</p>
            </div>
          </div>

          <div class="banner-card">
            <img src="/img/index/bannerhbo.png" alt="HBO Max">
          
            <div class="texto-encima">
              <h3>¡1 mes GRATIS!</h3>
              <p>Canjea a partir de 30.000 puntos <br>y obtene 1 mes de HBO Max sin cargo</p>
            </div>
          </div>
        </section>


        <%# SECCION DE PRODUCTOS %>

      <h3 class="titulo-productos">Tambien podria interesarte</h3>

    <div class="productos-grid">  
        <section class="caja-producto">
            <div class="producto">
              <img src="/img/index/FantaPile.jpg" alt="Fanta Sabor Original 354ml">
            </div>
            <a href="/products">
              <div class="descripcion">
               <div class="nombre">
                <h4>Fanta Sabor Original 354ml</h4>
               </div>
            
               <div class="puntos-producto">
                 <span class="cantidad-puntos">10.000</span>
                 <span class="puntos">PUNTOS</span>
                </div>
              </div>
            </a>
        </section>

        <section class="caja-producto">
          <div class="producto">
            <img src="/img/index/pringles.jpg" alt="Papas Pringles Sabor Original 40g">
          </div>
              
          <div class="descripcion">
            <div class="nombre">
              <h4>Papas Pringles Sabor Original 40g</h4>
            </div>
            <div class="puntos-producto">
              <span class="cantidad-puntos">20.000</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
        </section>

        <section class="caja-producto">
          <div class="producto">
             <img src="/img/index/cuadricula.jpg" alt="XXXXX">
          </div>
              
          <div class="descripcion">
            <div class="nombre">
              <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            <div class="puntos-producto">
              <span class="cantidad-puntos">XX.XXX</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
        </section>

        <section class="caja-producto">
          <div class="producto">
             <img src="/img/index/cuadricula.jpg" alt="XXXXX">
          </div>
              
          <div class="descripcion">
            <div class="nombre">
              <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            <div class="puntos-producto">
              <span class="cantidad-puntos">XX.XXX</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
        </section>
    </div>  
    
    <%# SECCION DE PRODUCTOS 2 %>

    <h3 class="titulo-productos">Los mas pedidos</h3>
    <div class="productos-grid">  
      <section class="caja-producto">
            <div class="producto">
              <img src="/img/index/burgerSimple.jpg" alt="Burger Medallon Simple">
            </div>
        
          <div class="descripcion">
            <div class="nombre">
              <h4>Burger Medallon Simple con Triple Cheddar</h4>
            </div>
            
            <div class="puntos-producto">
              <span class="cantidad-puntos">40.000</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
      </section>

        <section class="caja-producto">
          <div class="producto">
            <img src="/img/index/FantaRoja.jpg" alt="Fanta Roja 330ml">
          </div>
              
          <div class="descripcion">
            <div class="nombre">
              <h4>Fanta Sabor Frutilla 310ml</h4>
            </div>
            <div class="puntos-producto">
              <span class="cantidad-puntos">15.000</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
        </section>

        <section class="caja-producto">
          <div class="producto">
             <img src="/img/index/cuadricula.jpg" alt="XXXXX">
          </div>
              
          <div class="descripcion">
            <div class="nombre">
              <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            <div class="puntos-producto">
              <span class="cantidad-puntos">XX.XXX</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
        </section>

        <section class="caja-producto">
          <div class="producto">
             <img src="/img/index/cuadricula.jpg" alt="XXXXX">
          </div>
              
          <div class="descripcion">
            <div class="nombre">
              <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            <div class="puntos-producto">
              <span class="cantidad-puntos">XX.XXX</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
        </section>
    </div>  

    <div class="productos-grid">  
      <section class="caja-producto">
          <div class="producto">
            <img src="/img/index/cuadricula.jpg" alt="XXXXX">
          </div>
        
          <div class="descripcion">
            <div class="nombre">
              <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            
            <div class="puntos-producto">
              <span class="cantidad-puntos">XX.XXX</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
      </section>

        <section class="caja-producto">
          <div class="producto">
            <img src="/img/index/cuadricula.jpg" alt="XXXXX">
          </div>
              
          <div class="descripcion">
            <div class="nombre">
              <h4>NOMBRE DEL PRODUCTO O SERVICIOl</h4>
            </div>
            <div class="puntos-producto">
              <span class="cantidad-puntos">XX.XXX</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
        </section>

      <section class="caja-producto">
          <div class="producto">
            <img src="/img/index/cuadricula.jpg" alt="XXXXX">
          </div>
              
        <div class="descripcion">
            <div class="nombre">
              <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            <div class="puntos-producto">
              <span class="cantidad-puntos">XX.XXX</span>
              <span class="puntos">PUNTOS</span>
            </div>
         </div>
      </section>

      <section class="caja-producto">
          <div class="producto">
            <img src="/img/index/cuadricula.jpg" alt="XXXXX">
          </div>
              
        <div class="descripcion">
          <div class="nombre">
            <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
          </div>
          <div class="puntos-producto">
            <span class="cantidad-puntos">XX.XXX</span>
            <span class="puntos">PUNTOS</span>
          </div>
        </div>
      </section>
    </div>  

        <%# CONTENEDOR DE ICONOS 2 %>
      <section class="caja-iconos">
        <div class="item">
        <div class="iconos">
         <i class="fa-solid fa-tv">
          </i></div>
            <h4>Electronica</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-burger">
          </i></div>
            <h4>Alimentos</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-bottle-water">
          </i></div>
         <h4>Bebidas</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-shirt">
          </i></div>
         <h4>Indumentaria</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-gamepad">
          </i></div>
         <h4>Juegos</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-car-rear">
          </i></div>
         <h4>Automotor</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-couch">
          </i></div>
         <h4>Hogar</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-gift">
          </i></div>
         <h4>Otros</h4>
        </div>
      </section>
      <%- include('../partials/footer') %>