      <%- include('../partials/header') %>

<hr>
      <section class="caja-iconos">
        <div class="skins">
         <i class="fa-solid fa-person">
            <h4>Skins</h4>
         </i>
        </div>
        <div class="municiones">
         <i class="fa-solid fa-crosshairs">
            <h4>Municiones</h4>
         </i>
        </div>
        <div class="cajas">
         <i class="fa-solid fa-box-archive">
         <h4>Cajas</h4>
         </i>
        </div>
        <div class="eventos">
         <i class="fa-regular fa-calendar">
         <h4>Eventos CS</h4>
         </i>
        </div>
        <div class="promociones">
         <i class="fa-solid fa-dollar-sign">
         <h4>Promociones</h4>
         </i>
        </div>
      </section>

<hr>
        <section class="contenedor publicidad">
            <p><b>Canjea tus puntos y obtene beneficios</b></p>
            <p>Canjea a partir de 70.000 puntos y gana premios exclusivos</p>
                <img src="/img/csgo.png" alt="CSGO">
                <img src="/img/csgo-logo2.jpeg" alt="CSGO-LOGO">
            </section>
            <section class="contenedor publicidad 2">
              <p><b>UNITE A LA BATALLA</b></p>
              <p>Demuestra tu habilidad</p>
              <img src="/img/csgo-logo.jpeg" alt="CSGO-LOGO2">
                <img src="/img/counter-strike.png" alt="Counter-Strike">
        </section>

<hr>
      <h3>Tambien podria interesarte</h3>
        <section class="contenedor producto">
            <div class="producto 1">

            </div>
        </section>

<hr>
        <section class="caja iconos">
        <div class="skins">
         <i class="fa-solid fa-person">
            <h4>Skins</h4>
         </i>
        </div>
        <div class="municiones">
         <i class="fa-solid fa-crosshairs">
            <h4>Municiones</h4>
         </i>
        </div>
        <div class="cajas">
         <i class="fa-solid fa-box-archive">
         <h4>Cajas</h4>
         </i>
        </div>
        <div class="eventos">
         <i class="fa-regular fa-calendar">
         <h4>Eventos CS</h4>
         </i>
        </div>
        <div class="promociones">
         <i class="fa-solid fa-dollar-sign">
         <h4>Promociones</h4>
         </i>
        </div>
        </section>


<%- include('../partials/footer') %>