<<<<<<< HEAD
      <%- include('../partials/header') %>

<hr>
      <section class="caja-iconos">
        <div class="skins">
         <i class="fa-solid fa-person">
            <h4>Skins</h4>
         </i>
        </div>
        <div class="municiones">
         <i class="fa-solid fa-crosshairs">
            <h4>Municiones</h4>
         </i>
        </div>
        <div class="cajas">
         <i class="fa-solid fa-box-archive">
         <h4>Cajas</h4>
         </i>
        </div>
        <div class="eventos">
         <i class="fa-regular fa-calendar">
         <h4>Eventos CS</h4>
         </i>
        </div>
        <div class="promociones">
         <i class="fa-solid fa-dollar-sign">
         <h4>Promociones</h4>
         </i>
        </div>
      </section>

<hr>
        <section class="contenedor publicidad">
            <p><b>Canjea tus puntos y obtene beneficios</b></p>
            <p>Canjea a partir de 70.000 puntos y gana premios exclusivos</p>
                <img src="/img/csgo.png" alt="CSGO">
                <img src="/img/csgo-logo2.jpeg" alt="CSGO-LOGO">
            </section>
            <section class="contenedor publicidad 2">
              <p><b>UNITE A LA BATALLA</b></p>
              <p>Demuestra tu habilidad</p>
              <img src="/img/csgo-logo.jpeg" alt="CSGO-LOGO2">
                <img src="/img/counter-strike.png" alt="Counter-Strike">
        </section>

<hr>
      <h3>Tambien podria interesarte</h3>
        <section class="contenedor producto">
            <div class="producto 1">

            </div>
        </section>

<hr>
        <section class="caja iconos">
        <div class="skins">
         <i class="fa-solid fa-person">
            <h4>Skins</h4>
         </i>
        </div>
        <div class="municiones">
         <i class="fa-solid fa-crosshairs">
            <h4>Municiones</h4>
         </i>
        </div>
        <div class="cajas">
         <i class="fa-solid fa-box-archive">
         <h4>Cajas</h4>
         </i>
        </div>
        <div class="eventos">
         <i class="fa-regular fa-calendar">
         <h4>Eventos CS</h4>
         </i>
        </div>
        <div class="promociones">
         <i class="fa-solid fa-dollar-sign">
         <h4>Promociones</h4>
         </i>
        </div>
        </section>


<%- include('../partials/footer') %>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>
  <body>
    <main>
        <%# Header %> 
      <%- include('../partials/header') %>

      <%# CONTENEDOR DE ICONOS %>
      <section class="caja-iconos">
        <div class="item">
        <div class="iconos">
         <i class="fa-solid fa-tv">
          </i></div>
            <h4>Electronica</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-burger">
          </i></div>
            <h4>Alimentos</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-bottle-water">
          </i></div>
         <h4>Bebidas</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-shirt">
          </i></div>
         <h4>Indumentaria</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-gamepad">
          </i></div>
         <h4>Juegos</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-car-rear">
          </i></div>
         <h4>Automotor</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-couch">
          </i></div>
         <h4>Hogar</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-gift">
          </i></div>
         <h4>Otros</h4>
        </div>
      </section>

      <%# BANNER PUBLICITARIO %>
        <section class="banner">
          <div class="banner-card">
            <img src="/img/Banner disney.png" alt="Disney Plus">
          
            <div class="texto-encima">
              <h3>¡50% OFF!</h3>
              <p>Canjea a partir de 50.000 puntos <br> y gana descuentos exclusivos<br>en Disney+</p>
            </div>
          </div>

          <div class="banner-card">
            <img src="/img/bannerhbo.png" alt="HBO Max">
          
            <div class="texto-encima">
              <h3>¡1 mes GRATIS!</h3>
              <p>Canjea a partir de 30.000 puntos <br>y obtene 1 mes de HBO Max sin cargo</p>
            </div>
          </div>
        </section>


        <%# SECCION DE PRODUCTOS %>

      <h3 class="titulo-productos">Tambien podria interesarte</h3>

    <div class="productos-grid">  
        <section class="caja-producto">
            <div class="producto">
              <img src="/img/FantaPile.jpg" alt="Fanta Sabor Original 354ml">
            </div>
            <a href="/product.ejs">
              <div class="descripcion">
               <div class="nombre">
                <h4>Fanta Sabor Original 354ml</h4>
               </div>
            
               <div class="puntos-producto">
                 <span class="cantidad-puntos">10.000</span>
                 <span class="puntos">PUNTOS</span>
                </div>
              </div>
            </a>
        </section>

        <section class="caja-producto">
          <div class="producto">
            <img src="/img/pringles.jpg" alt="Papas Pringles Sabor Original 40g">
          </div>
              
          <div class="descripcion">
            <div class="nombre">
              <h4>Papas Pringles Sabor Original 40g</h4>
            </div>
            <div class="puntos-producto">
              <span class="cantidad-puntos">20.000</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
        </section>

        <section class="caja-producto">
          <div class="producto">
             <img src="/img/cuadricula.jpg" alt="XXXXX">
          </div>
              
          <div class="descripcion">
            <div class="nombre">
              <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            <div class="puntos-producto">
              <span class="cantidad-puntos">XX.XXX</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
        </section>

        <section class="caja-producto">
          <div class="producto">
             <img src="/img/cuadricula.jpg" alt="XXXXX">
          </div>
              
          <div class="descripcion">
            <div class="nombre">
              <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            <div class="puntos-producto">
              <span class="cantidad-puntos">XX.XXX</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
        </section>
    </div>  
    
    <%# SECCION DE PRODUCTOS 2 %>

    <h3 class="titulo-productos">Los mas pedidos</h3>
    <div class="productos-grid">  
      <section class="caja-producto">
            <div class="producto">
              <img src="/img/burgerSimple.jpg" alt="Burger Medallon Simple">
            </div>
        
          <div class="descripcion">
            <div class="nombre">
              <h4>Burger Medallon Simple con Triple Cheddar</h4>
            </div>
            
            <div class="puntos-producto">
              <span class="cantidad-puntos">40.000</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
      </section>

        <section class="caja-producto">
          <div class="producto">
            <img src="/img/FantaRoja.jpg" alt="Fanta Roja 330ml">
          </div>
              
          <div class="descripcion">
            <div class="nombre">
              <h4>Fanta Sabor Frutilla 310ml</h4>
            </div>
            <div class="puntos-producto">
              <span class="cantidad-puntos">15.000</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
        </section>

        <section class="caja-producto">
          <div class="producto">
             <img src="/img/cuadricula.jpg" alt="XXXXX">
          </div>
              
          <div class="descripcion">
            <div class="nombre">
              <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            <div class="puntos-producto">
              <span class="cantidad-puntos">XX.XXX</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
        </section>

        <section class="caja-producto">
          <div class="producto">
             <img src="/img/cuadricula.jpg" alt="XXXXX">
          </div>
              
          <div class="descripcion">
            <div class="nombre">
              <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            <div class="puntos-producto">
              <span class="cantidad-puntos">XX.XXX</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
        </section>
    </div>  

    <div class="productos-grid">  
      <section class="caja-producto">
          <div class="producto">
            <img src="/img/cuadricula.jpg" alt="XXXXX">
          </div>
        
          <div class="descripcion">
            <div class="nombre">
              <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            
            <div class="puntos-producto">
              <span class="cantidad-puntos">XX.XXX</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
      </section>

        <section class="caja-producto">
          <div class="producto">
            <img src="/img/cuadricula.jpg" alt="XXXXX">
          </div>
              
          <div class="descripcion">
            <div class="nombre">
              <h4>NOMBRE DEL PRODUCTO O SERVICIOl</h4>
            </div>
            <div class="puntos-producto">
              <span class="cantidad-puntos">XX.XXX</span>
              <span class="puntos">PUNTOS</span>
            </div>
          </div>
        </section>

      <section class="caja-producto">
          <div class="producto">
            <img src="/img/cuadricula.jpg" alt="XXXXX">
          </div>
              
        <div class="descripcion">
            <div class="nombre">
              <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            <div class="puntos-producto">
              <span class="cantidad-puntos">XX.XXX</span>
              <span class="puntos">PUNTOS</span>
            </div>
         </div>
      </section>

      <section class="caja-producto">
          <div class="producto">
            <img src="/img/cuadricula.jpg" alt="XXXXX">
          </div>
              
        <div class="descripcion">
          <div class="nombre">
            <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
          </div>
          <div class="puntos-producto">
            <span class="cantidad-puntos">XX.XXX</span>
            <span class="puntos">PUNTOS</span>
          </div>
        </div>
      </section>
    </div>  

        <%# CONTENEDOR DE ICONOS 2 %>
      <section class="caja-iconos">
        <div class="item">
        <div class="iconos">
         <i class="fa-solid fa-tv">
          </i></div>
            <h4>Electronica</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-burger">
          </i></div>
            <h4>Alimentos</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-bottle-water">
          </i></div>
         <h4>Bebidas</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-shirt">
          </i></div>
         <h4>Indumentaria</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-gamepad">
          </i></div>
         <h4>Juegos</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-car-rear">
          </i></div>
         <h4>Automotor</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-couch">
          </i></div>
         <h4>Hogar</h4>
        </div>
        <div class="item">
          <div class="iconos">
         <i class="fa-solid fa-gift">
          </i></div>
         <h4>Otros</h4>
        </div>
      </section>

      <%- include('../partials/footer') %>
>>>>>>> ramita
