<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css/header.css">
</head>
<body>

<%- include('../partials/header') %>

<main>
    <form action="/login" method="POST">
        <p>¡Hola!</p>

        <label>Usuario</label>
        <input type="text" name="username" required>

        <label>Contraseña</label>
        <input type="password" name="password" required>

        <button type="submit">Iniciar Sesión</button>

        <p>¿No tienes cuenta? <a href="/register">Registrate</a></p>
    </form>
</main>

</body>
</html>