<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../../public/login.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <p><b>Mi</b>Ecommerce</p>
    </header>
    <main>
        <form action="/login" method="post">
            <p>¡Hola!</p>
            <label for="username">Tu nombre de usuario</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Tu contraseña</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Iniciar Sesion</button>
            <p>¿No tienes cuenta? <a href="/register">Registrate</a></p>
        </form>
    </main>
    <footer>
        <p>&copy; 2024 Your Company</p>
</body>
</html>