<!DOCTYPE html>
<html lang="es">
<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/register.css">
    
<head>
    <meta charset="UTF-3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <header>
        <p><b>Mi</b>Ecommerce</p>
    </header>
    <main>
        <form action="/login" method="GET">
            <p>Crear cuenta</p>
            <input type="text" id="username" name="username" required placeholder="Juan">
            <br>
            <input type="text" id="lastname" name="lastname" required placeholder="Lopez">
            <br>
            <input type="email" id="email" name="email" required placeholder="ejemplo@correo.com">
            <br>
            <input type="password" id="password" name="password" required placeholder="********">
            <br>
            <button type="submit" >Registrar</button>
            <p>¿Ya tienes cuenta? <a href="/login">Inicia Sesión</a></p>

        </form>
    </main>
<%- include('../partials/footer') %>
</body>
</html>